<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Supply Chain</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

<!-- <link rel="stylesheet" href="static/css/style.css"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Supply Chain</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right mr-4">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal">Register</a>
      </li>
    </ul>
  </div>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}

    <!-- <div
      class="alert alert-primary"
      role="alert"
      style="width: 75%;margin: auto;text-align: center;"
    >
      <h5>Alert Message</h5>
    </div> -->
  </header>

  {% block content %}{% endblock %}
</section>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/register">
        <div class="modal-body">
          <div class="form-group">
            <label for="inputName">Party Name</label>
            <input type="text" class="form-control" id="inputName" name="name" aria-describedby="nameHelp" />
            <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="select_type">Select</label>
            <select class="form-control" name="select" id="select_type">
              <option value="producer">Producer</option>
              <option value="distributor">Distributor</option>
            </select>

          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" />
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>